<!DOCTYPE html>
<html dir="ltr" lang="en-GB" id="thimblr">
<head>
	<title>Thimblr Help</title>
	<meta name="Copyright" content="Copyright (c) 2010 JP Hastings-Spital" />
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript" src="/assets/help.js"></script>
	<style type="text/css">
		body { margin:15px; background: #2C4762;  font-size: 13px; line-height: 1.3; font-family: Georgia,serif; color: #fff; line-height: 30px; }
		h1 { font-family: 'Bookman Old Style', Georgia, serif; font-weight: bold; font-size: 24px; color:#fff;}
		h2 { font-family: 'Bookman Old Style', Georgia, serif; font-weight: bold; font-size: 20px; color:#fff;}
		h3 { font-family: 'Bookman Old Style', Georgia, serif; font-style:italic; font-size: 16px; color:#fff;}
		#content { width:600px; margin:40px auto; }
	</style>
</head>
<body>
	<div id="content">
		<h1>Welcome to Thimblr!</h1>
		<p><%=request.cookies %></p>
		<h2>Settings</h2>
		<h3>Tumblr Set Up</h3>
		<p>Some templates are different depending on your tumblr settings. The following options will affect all the templates and data sets you use. They only affect Thimblr's emulation of Tumblr, not your real Tumblr account!</p>
		<form action="/set/settings">
		
		</form>
	</div>
</body>
</html>